# Dependências (Nunca envie a pasta node_modules)
node_modules/

# Variáveis de ambiente (Contém senhas e chaves secretas)
.env

# Logs e arquivos temporários
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# Arquivos do Sistema Operacional
.DS_Store
Thumbs.db

# Pastas de build (Se você usar TypeScript no futuro)
dist/
build/